/* Where to change site colors
:root {
    --headerbarColor: #212524;
    --pageBackgroundColor:linear-gradient(-45deg, rgb(247, 195, 97),  rgb(242, 191, 53), rgb(243, 174, 71), rgb(238, 226, 199));
    --navbarColor:  #212524;
    --textColor: rgb(247, 207, 135);;
    --hoverColor:rgb(252, 231, 174);
}

.header {
    background-color: var(--headerbarColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.page-body-background {
    background: var(--pageBackgroundColor);
	background-size: 400% 400%;
	animation: gradient 45s ease infinite;
	height: 100vh;
}
.page-body-background-landing {
    position:relative;
    background: var(--pageBackgroundColor);
	background-size: 400% 400%;
	animation: gradient 45s ease infinite;
	height: 100vh;
}
.page-body-background-landing .blurb-landing-pitch {
    padding-top: 10%;
    padding-left:10%;
}
.page-body-background-landing .overlayBox {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    z-index: 1;
    text-align: center;
}
.page-body-background-landing .overlayBox .landing-icon{
    font-size: 3rem;
}
.blurb-landing-pitch-2 {
    padding-top: 5%;
}
.cellphone {
    padding-top:5%;
}
.logo {
    color: var(--textColor);
    text-decoration: none;
}
.logo .logoDANNA:hover{
    color:var(--hoverColor);
}
.logo .logoDANNA {
    font-family: 'Righteous', cursive;
    display: flex;
    padding-left: 2%;
    justify-content: center;
    align-content: center;
    font-size: 3rem;
}
.logo .logoLanding {
    display:inline-block;
    font-family: 'Righteous', cursive;
    font-size: 3rem;
    padding-top: 2%;
    padding-left:1%;
}
.logo .logoLanding:hover{
    color:var(--hoverColor);
}
.text-righteous {
    font-family: 'Righteous', cursive;
}
.blurb-text-paragraph {
    max-width: 600px;
}
.tooltip {
    position: absolute;
    z-index: 999;
    display: flex;
    padding: 5px;
    text-align: center;
    font-family: 'Righteous', cursive;
    font-size: 14px;
    background: transparent;
    border-radius: 5px;
  }
.btn-light-custom {
    background-color: var(--textColor);
    color: var(--headerbarColor);
    display: inline-block;
    border: none;
    text-decoration: none;
    cursor: pointer;
    position: absolute;
    top: 25px;
    right: 10px;
  }
.btn-light-custom:hover{
color:white;
}
.btn-dark {
    color: var(--textColor);
}
.card {
    background-color: var(--textColor);
}
.nav-item {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.nav-link .names {
    font-family: 'Righteous', cursive;
}
.nav-link .nav-profile-icon {
    color: var(--textColor);
    font-size: 10rem;
}
.nav-link .nav-profile-icon:hover {
    color:var(--hoverColor);
}
.nav-link .nav-custom-icon {
    color: var(--textColor);
    font-size: 3rem;
}
.nav-link .nav-custom-icon:hover {
    color: var(--hoverColor);
    font-size: 4rem;
}
.nav-link:hover .tooltip {
    color: var(--hoverColor);
    display:block;
    visibility: visible;
    opacity: 1;
}
.d-sm-inline {
    color: var(--textColor);
}

/* mobile compatibility settings
@media (max-width: 767px) {
    /* Styles for smaller screens

    .logo .logoDANNA {
        font-size: 1.5rem;
        padding-bottom: 0;
    }

    html, body {
        overflow: visible;
        height: 100%;
        width: 100%;
        margin:0;
    }

    .page-body-background-landing .overlayBox {
        position: absolute;
        top: 65%;
        left: 0;
        right: 0;
        z-index: 1;
        text-align: center;
    }
    .nav-item {
        height: 20%; /* Adjust this value to change the height of the nav items
    }
    .nav-link .nav-profile-icon {
        color: var(--textColor);
        font-size: 1.5rem;
    }
    .nav-link .nav-custom-icon {
        color: var(--textColor);
        font-size: 1rem;
    }
    .col-auto {
        max-width: 60px; /* Adjust this value to scale the nav bar width
      }

    .nav-custom-icon {
    margin-left: 0;
    }

    .tooltip {
    display: none;
    }

    .names {
    display: none;
    }
    #menu {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: calc(80vh - 40px); /* Adjust for any additional elements (e.g., padding) within the nav bar }*/







*{
  margin:0;
  padding:0;

}
#banner{
  /* background: linear-gradient(rgba(0,0,0,0.5),#97DEFF), url(modified_landning_pic.png) ; */
  background: linear-gradient(rgba(0,0,0,0.3),#c0d1da), url("css/images/modified_landning_pic.png");
  /* background: url(modified_landning_pic.png); */
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.logoLanding{
  width:140px;
  position:absolute;
  top:4%;
  left:10%;
  color: #FFF7E9;
  font-size: 30px;
  /* font-family: 'Dancing Script', cursive; */
}
.banner-text h1{
  text-align:left;
  color:#FFF7E9;
  padding-top:450px;
  padding-left:10%;
  font-size:45px;
  font-family: 'Dancing Script', cursive;
}


.button-container {
display: flex;
justify-content: flex-start;
padding-left: 10%;
align-items: center;
}


.button-container button + button {
  margin-left: 35px;
}
.button-container button {
  background-color: #FD8A8A;
  color: #faf8f3;
  font-size: 25px;
  padding: 6px 35px;
  font-family: 'Dancing Script', cursive;
  border-radius: 20px;
  width: 150px;
}

.button-container button:hover {
  background-color: #EAE0DA;
  color: #00337C;
  border-color: #FFF7E9;
}

.navbar {
  position: absolute;
  top: 0;
  right: 0;


}
.navbar a {
  text-decoration: none;
  color: #FFF7E9;
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
}

.navbar li {
  font-size: 25px;
  margin: 0 25px;
  padding-top: 5% ;
  font-family: 'Dancing Script', cursive;

}
body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 1.6; }
.about{
text-align: center;
font-size: 25px;
}

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.section-class {
  padding: 80px 0;
}
  .section-class h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
    margin-bottom: 60px; }

.section-class-item {
  padding-left: 10%;
  margin-bottom: 30px; }
  .section-class-item .icon-wrap {
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    background-color: tomato;
    display: inline-block;
    border-radius: 10em;
    font-size: 20px;
    color: #fff; }
  .section-class-item h3 {
    margin-top: 0;
    font-size: 18px;
    font-weight: bold; }
  .section-class-item p {
    color: #6f6f6f; }

.items-right .item-icon {
  padding-left: 20px; }

.items-right,
.items-left {
  margin-top: 30px; }

.item-text,
.item-icon {
  display: table-cell;
  vertical-align: top; }

.items-left .item-icon {
  padding-right: 20px;
}

  .section-class-image img {
    float: center;
    margin-right: 5%;
  }

  th {
    padding: 27px;
     /* adjust the value to increase or decrease the spacing */
  }

  .uniqueSellingPoints{
    text-align: center;
    font-size: 17px;
    padding-left: 10%;
  }

  ul{
    text-align: left;
    padding-top: 0%;
  }

  .uniqueSellingPoints td{
    padding: 45px;

  }

  .whytochooseus {
    text-align: center;
    font-size: 23px;

  }

  footer {
    background-color: #f2f2f2;
    color: #777;
    padding-top: 50px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 14px;
  }
  h2{
    font-size: 30px;
    font-family: 'Dancing Script', cursive;
    text-align: center;
  }

