*{
  margin:0;
  padding:0;

}
#banner{
  background: linear-gradient(rgba(0,0,0,0.3),#c0d1da), url(images/modified_landning_pic.png);
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.logoLanding{
  width:140px;
  position:absolute;
  top:4%;
  left:10%;
  color: #FFF7E9;
  font-size: 30px;
}
.banner-text h1{
  text-align:left;
  color:#FFF7E9;
  padding-top:450px;
  padding-left:10%;
  font-size:45px;
  font-family: 'Dancing Script', cursive;
}


.button-container {
display: flex;
justify-content: flex-start;
padding-left: 10%;
align-items: center;
}


.button-container button + button {
  margin-left: 35px;
}
.button-container button {
  background-color: #FD8A8A;
  color: #faf8f3;
  font-size: 25px;
  padding: 6px 35px;
  font-family: 'Dancing Script', cursive;
  border-radius: 20px;
  width: 150px;
}

.button-container button:hover {
  background-color: #EAE0DA;
  color: #00337C;
  border-color: #FFF7E9;
}

.navbar {
  position: absolute;
  top: 0;
  right: 0;


}
.navbar a {
  text-decoration: none;
  color: #FFF7E9;
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
}

.navbar li {
  font-size: 25px;
  margin: 0 25px;
  padding-top: 5% ;
  font-family: 'Dancing Script', cursive;

}

.text-following {
  color: black;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 1.6; }
.about{
text-align: center;
font-size: 25px;
}

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.section-class {
  padding: 80px 0;
}
  .section-class h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
    margin-bottom: 60px; }

.section-class-item {
  padding-left: 10%;
  margin-bottom: 30px; }
  .section-class-item .icon-wrap {
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    background-color: tomato;
    display: inline-block;
    border-radius: 10em;
    font-size: 20px;
    color: #fff; }
  .section-class-item h3 {
    margin-top: 0;
    font-size: 18px;
    font-weight: bold; }
  .section-class-item p {
    color: #6f6f6f; }

.items-right .item-icon {
  padding-left: 20px; }

.items-right,
.items-left {
  margin-top: 30px; }

.item-text,
.item-icon {
  display: table-cell;
  vertical-align: top; }

.items-left .item-icon {
  padding-right: 20px;
}

  .section-class-image img {
    float: center;
    margin-right: 5%;
  }

  th {
    padding: 27px;
     /* adjust the value to increase or decrease the spacing */
  }

  .uniqueSellingPoints{
    text-align: center;
    font-size: 17px;
    padding-left: 10%;
  }

  ul{
    text-align: left;
    padding-top: 0%;
  }

  .uniqueSellingPoints td{
    padding: 45px;

  }

  .whytochooseus {
    text-align: center;
    font-size: 23px;

  }

  footer {
    background-color: #f2f2f2;
    color: #777;
    padding-top: 50px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 14px;
  }
  h2{
    font-size: 30px;
    font-family: 'Dancing Script', cursive;
    text-align: center;
  }



/* Header styles */
.header {
  background-color: #FC466B;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 7%;
  border-bottom: 1px solid #fff;

}

.logoDANNA {
  font-size: 20px;
  margin: 0;
  padding: 0;
  color: #fff;
  text-decoration: none;
}

.btn-light-custom {
  background-color: #fff;
  border: 1px solid;
  color: #333;
  font-weight: 500;
  font-size: 1rem;
  transition: all 0.3s ease-in-out;
}

.btn-light-custom:hover {
  background-color: #e6e6e6;
  color: #333;
}

/* Navigation styles */
.bg-dark {
  background: linear-gradient(180deg, #FC466B 0%, #3F5EFB 100%); !important;
  height: 100vh;

}

.nav-pills .nav-link {
  color: #fff;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;

}

.tooltip {
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #FFABAB;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  font-size: 0.8rem;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
}

.names {
  margin: 0;
  padding: 0;
}

/* Table styles */
.table {
  position: center;
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
  border-collapse: collapse;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.table th,
.table td {
  padding: 1rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

.table th {
  font-weight: 500;
  text-align: inherit;
  background-color: #fff;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #f6f6f6;
}

.table-bordered {
  border: 1px solid #dee2e6;
}

.table-bordered th,
.table-bordered td {
  border: 1px solid #dee2e6;
}

.table-hover tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.075);
}



/* Form styles */
.form-label {
  font-weight: 500;
}

.form-control:focus {
  box-shadow: none;
}

.form-control::placeholder {
  color: #9b9b9b;
}

.btn-primary-custom {
  background-color: #333;
  border: none
}

.btn btn-light-custom logout-btn {
  padding-right: 20px;
  border-radius: 20px;
}


/* create an event form */

/* Make all form fields the same length */
.form-control {
  width: 100%;
}

/* Style the form labels */
label {
  font-weight: bold;
}

/* Add margin to the form rows */
.form-row {
  margin-bottom: 1rem;
}


/* Style the create event button */
#createEvent {
  margin-top: 1rem;
}



